<h1>Welcome, <%= @user.username %>(个人信息页)</h1>

<h4><%= @user.username %>'s articles</h4>
<!-- 运用了partial, 在_article.html.erb，可以list 相关articles-->
<%= render 'articles/article', obj: @user.articles %>